# Tugas 1

In [14]:
import random as r

def tugas_1(lst):
    # tambahkan 10 data
    for _ in range(10):
        if r.choice([True, False]):  
            lst.append(r.randint(1, 100)) 
        else:
            lst.append(round(r.uniform(1, 100), 2)) 
    print(lst)

    # hapus data dengan index ganjil
    lst = [val for idx, val in enumerate(lst) if idx % 2 == 0]
    print(lst)

    # balik urutan data
    lst.reverse()
    print(lst)

    # hapus nilai terbesar
    lst.remove(max(lst))
    print(lst)

    # urut descending
    lst.sort(reverse=True)
    
    return lst

In [12]:
numbers = []
hasil = tugas_1(numbers)
print(hasil)

[24.2, 19, 61, 64.99, 55.8, 83.3, 17.49, 8, 84.01, 49]
[19, 64.99, 83.3, 8, 49]
[49, 8, 83.3, 64.99, 19]
[49, 8, 64.99, 19]
[64.99, 49, 19, 8]

# Tugas 2

In [1]:
mata_kuliah = ({
    "Matematika": 85,
    "Pemrograman Dasar": "",
    "Struktur Data": 88,
    "Basis Data": 87,
    "Jaringan Komputer": "",
    "Kecerdasan Buatan": 92,
    "Sistem Operasi": 85,
    "Keamanan Informasi": "",
    "Manajemen Proyek TI": 84,
    "Analisis Data": 91
},)

print(mata_kuliah)

({'Matematika': 85, 'Pemrograman Dasar': '', 'Struktur Data': 88, 'Basis Data': 87, 'Jaringan Komputer': '', 'Kecerdasan Buatan': 92, 'Sistem Operasi': 85, 'Keamanan Informasi': '', 'Manajemen Proyek TI': 84, 'Analisis Data': 91},)

In [2]:
mata_kuliah_filter= ({k: v for k, v in mata_kuliah[0].items() if v != ""},)

In [3]:
print(mata_kuliah_filter)

({'Matematika': 85, 'Struktur Data': 88, 'Basis Data': 87, 'Kecerdasan Buatan': 92, 'Sistem Operasi': 85, 'Manajemen Proyek TI': 84, 'Analisis Data': 91},)

In [4]:
jumlah = len(mata_kuliah_filter[0])
print(jumlah)

7

In [5]:
ascending = sorted(mata_kuliah_filter[0].items(), key=lambda x: x[1])   
print(ascending)

[('Manajemen Proyek TI', 84), ('Matematika', 85), ('Sistem Operasi', 85), ('Basis Data', 87), ('Struktur Data', 88), ('Analisis Data', 91), ('Kecerdasan Buatan', 92)]

In [ ]:
# mata kuliah nilai tertinggi dan beserta nilainya
max_value = max(mata_kuliah_filter[0].items(), key=lambda x: x[1])
print(max_value)

('Kecerdasan Buatan', 92)

In [77]:
# average
average = sum(mata_kuliah_filter[0].values()) / len(mata_kuliah_filter[0])

In [81]:
print(round(average, 2))

87.43

# Tugas 3

In [18]:
import pandas as pd

In [19]:
data_hp = pd.DataFrame({
    "Brand": ["Apple","Xiaomi","Samsung","Infinix","Oppo","Asus","Lenovo","Huawei","Google Pixel","Sony"],
    "Tahun Rilis": [2015,2017,2018,2015,2017,2020,2019,2019,2020,2017],
    "Terjual": [150,75,120,85,75,120,50,90,55,50],
    "Harga (Juta)": [19,9,10,9,4,9,15,15,15,11],
    "Jenis Penjualan": ["Online","Offline","Online","Online","Offline","Online","Offline","Online","Offline","Offline"]
})

In [31]:
display(data_hp)

          Brand  Tahun Rilis  Terjual  Harga (Juta) Jenis Penjualan
0         Apple         2015      150            19          Online
1        Xiaomi         2017       75             9         Offline
2       Samsung         2018      120            10          Online
3       Infinix         2015       85             9          Online
4          Oppo         2017       75             4         Offline
5          Asus         2020      120             9          Online
6        Lenovo         2019       50            15         Offline
7        Huawei         2019       90            15          Online
8  Google Pixel         2020       55            15         Offline
9          Sony         2017       50            11         Offline

In [ ]:
display(data_hp.drop(columns=["Tahun Rilis"]).describe())
# display(data_hp.describe())

       Tahun Rilis     Terjual  Harga (Juta)
count    10.000000   10.000000     10.000000
mean   2017.700000   87.000000     11.600000
std       1.828782   33.681515      4.351245
min    2015.000000   50.000000      4.000000
25%    2017.000000   60.000000      9.000000
50%    2017.500000   80.000000     10.500000
75%    2019.000000  112.500000     15.000000
max    2020.000000  150.000000     19.000000

In [33]:
# Tentukan 3 brand dengan penghasilan terbesar (harga x terjual).
data_hp["Penghasilan"] = data_hp["Terjual"] * data_hp["Harga (Juta)"]
top3 = data_hp.nlargest(3, "Penghasilan")
display(top3)

     Brand  Tahun Rilis  Terjual  Harga (Juta) Jenis Penjualan  Penghasilan
0    Apple         2015      150            19          Online         2850
7   Huawei         2019       90            15          Online         1350
2  Samsung         2018      120            10          Online         1200

In [34]:
data_hp = data_hp.drop(columns=["Penghasilan"])

In [35]:
online = data_hp[data_hp["Jenis Penjualan"] == "Online"]
offline = data_hp[data_hp["Jenis Penjualan"] == "Offline"]

In [36]:
display(online)

     Brand  Tahun Rilis  Terjual  Harga (Juta) Jenis Penjualan
0    Apple         2015      150            19          Online
2  Samsung         2018      120            10          Online
3  Infinix         2015       85             9          Online
5     Asus         2020      120             9          Online
7   Huawei         2019       90            15          Online

In [37]:
display(offline)

          Brand  Tahun Rilis  Terjual  Harga (Juta) Jenis Penjualan
1        Xiaomi         2017       75             9         Offline
4          Oppo         2017       75             4         Offline
6        Lenovo         2019       50            15         Offline
8  Google Pixel         2020       55            15         Offline
9          Sony         2017       50            11         Offline

In [ ]:
q1 = data_hp["Harga (Juta)"].quantile(0.25)
q3 = data_hp["Harga (Juta)"].quantile(0.75)

In [39]:
data_hp["Kategori Harga"] = data_hp["Harga (Juta)"].apply(lambda x: "Murah" if x < q1 else "Mahal" if x > q3 else "Sedang")
display(data_hp)

,Brand,Tahun Rilis,Terjual,Harga (Juta),Jenis Penjualan,Kategori Harga
0,Apple,2015,150,19,Online,Mahal
1,Xiaomi,2017,75,9,Offline,Sedang
2,Samsung,2018,120,10,Online,Sedang
3,Infinix,2015,85,9,Online,Sedang
4,Oppo,2017,75,4,Offline,Murah
5,Asus,2020,120,9,Online,Sedang
6,Lenovo,2019,50,15,Offline,Sedang
7,Huawei,2019,90,15,Online,Sedang
8,Google Pixel,2020,55,15,Offline,Sedang
9,Sony,2017,50,11,Offline,Sedang